---
http_interactions:
- request:
    method: get
    uri: https://qualysapi.qualys.eu/api/2.0/fo/scan/?action=fetch&mode=extended&output_format=json&scan_ref=scan/1512633883.79354
    body:
      encoding: US-ASCII
      string: ''
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: UTF-8
      string: |-
        [{"ip":"47.69.112.62","dns":"12.ip-34-56-789.ab","netbios":null,"qid":82040,"instance":null,"result":"ICMP Reply Type\tTriggered By\tAdditional Information\nEcho (type=0 code=0)\tEcho Request\tEcho Reply\nUnreachable (type=3 code=3)\tUDP Port 7307\tPort Unreachable\nUnreachable (type=3 code=3)\tUDP Port 37208\tPort Unreachable\nTime Stamp (type=14 code=0)\tTime Stamp Request\t08:05:40 GMT\nUnreachable (type=3 code=3)\tUDP Port 1\tPort Unreachable\nUnreachable (type=3 code=3)\tUDP Port 3801\tPort Unreachable\nUnreachable (type=3 code=3)\tUDP Port 138\tPort Unreachable\nUnreachable (type=3 code=3)\tUDP Port 1645\tPort Unreachable\nUnreachable (type=3 code=3)\tUDP Port 137\tPort Unreachable\nUnreachable (type=3 code=3)\tUDP Port 1194\tPort Unreachable\nUnreachable (type=3 code=3)\tUDP Port 1900\tPort Unreachable\nUnreachable (type=3 code=3)\tUDP Port 47495\tPort Unreachable\nUnreachable (type=3 code=2)\tIP with High Protocol\tProtocol Unreachable","protocol":"","port":"","ssl":"no","fqdn":""},
        {"ip":"47.69.112.62","dns":"12.ip-34-56-789.ab","netbios":null,"qid":6,"instance":null,"result":"IP address\tHost name\n47.69.112.62\t12.ip-34-56-789.ab","protocol":"","port":"","ssl":"no","fqdn":""},
        {"ip":"47.69.112.62","dns":"12.ip-34-56-789.ab","netbios":null,"qid":82003,"instance":null,"result":"Timestamp of host (network byte ordering): 08:05:40 GMT","protocol":"","port":"","ssl":"no","fqdn":""},
        {"ip":"47.69.112.62","dns":"12.ip-34-56-789.ab","netbios":null,"q[...]
