---
http_interactions:
- request:
    method: get
    uri: https://qualysapi.qualys.eu/api/2.0/fo/report/?action=fetch&id=4888430
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - Qualys Ruby Client v0.1.3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Window-Sec:
      - '3600'
      X-Concurrency-Limit-Limit:
      - '2'
      X-Concurrency-Limit-Running:
      - '0'
      X-Ratelimit-Towait-Sec:
      - '0'
      X-Ratelimit-Remaining:
      - '292'
      Content-Disposition:
      - attachment; filename=Scan_Report_Generated_by_Ruby_Qualys_gem_Thomas_20171212.xml
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n\n<!DOCTYPE ASSET_DATA_REPORT
        SYSTEM \"https://qualysguard.qualys.eu/asset_data_report.dtd\">\n<ASSET_DATA_REPORT>\n
        \ <HEADER>\n    <COMPANY><![CDATA[ACME]]></COMPANY>\n    <USERNAME>Thomas</USERNAME>\n
        \   <GENERATION_DATETIME>2017-12-12T09:55:42Z</GENERATION_DATETIME>\n    <TEMPLATE><![CDATA[Technical
        Report]]></TEMPLATE>\n    <TARGET>\n      <USER_ASSET_GROUPS>\n        <ASSET_GROUP_TITLE><![CDATA[All]]></ASSET_GROUP_TITLE>\n
        \     </USER_ASSET_GROUPS>\n      <COMBINED_IP_LIST>\n        <RANGE>\n          <START>47.69.112.62</START>\n
        \         <END>47.69.112.62</END>\n        </RANGE>\n        <RANGE>\n          <START>88.78.187.177</START>\n
        \         <END>88.78.187.177</END>\n        </RANGE>\n        <RANGE>\n          <START>192.168.1.100</START>\n
        \         <END>192.168.1.100</END>\n        </RANGE>\n      </COMBINED_IP_LIST>\n
        \   </TARGET>\n    <RISK_SCORE_SUMMARY>\n      <TOTAL_VULNERABILITIES>19</TOTAL_VULNERABILITIES>\n
        \     <AVG_SECURITY_RISK>2.4</AVG_SECURITY_RISK>\n      <BUSINESS_RISK>12/100</BUSINESS_RISK>\n
        \   </RISK_SCORE_SUMMARY>\n  </HEADER>\n  <HOST_LIST>\n    <HOST>\n      <IP>47.69.112.62</IP>\n
        \     <TRACKING_METHOD>IP</TRACKING_METHOD>\n      <DNS><![CDATA[12.ip-34-56-789.ab]]></DNS>\n
        \     <OPERATING_SYSTEM><![CDATA[Ubuntu / Tiny Core Linux / Linux 2.6.x]]></OPERATING_SYSTEM>\n
        \     <VULN_INFO_LIST>\n        <VULN_INFO>\n          <QID id=\"qid_38173\">38173</QID>\n
        \         <TYPE>Vuln</TYPE>\n          <PORT>25</PORT>\n          <SERVICE>smtp</SERVICE>\n
        \         <PROTOCOL>tcp</PROTOCOL>\n          <SSL>true</SSL>\n          <RESULT><![CDATA[Certificate
        #0 CN=localhost.localdomain self signed certificate]]></RESULT>\n          <FIRST_FOUND>2017-12-07T08:12:19Z</FIRST_FOUND>\n
        \         <LAST_FOUND>2017-12-07T08:12:19Z</LAST_FOUND>\n          <TIMES_FOUND>1</TIMES_FOUND>\n
        \         <VULN_STATUS>New</VULN_STATUS>\n        </VULN_INFO>\n        <VULN_INFO>\n
        \         <QID id=\"qid_38685\">38685</QID>\n          <TYPE>Vuln</TYPE>\n
        \         <PORT>25</PORT>\n          <SERVICE>smtp</SERVICE>\n          <PROTOCOL>tcp</PROTOCOL>\n
        \         <SSL>true</SSL>\n          <RESULT><![CDATA[Certificate #0 CN=localhost.localdomain
        \ is valid for more than 39 months]]></RESULT>\n          <FIRST_FOUND>2017-12-07T08:12:19Z</FIRST_FOUND>\n
        \         <LAST_FOUND[...]
