---
http_interactions:
- request:
    method: post
    uri: https://qualysapi.qualys.eu/api/2.0/fo/session/
    body:
      encoding: UTF-8
      string: action=logout
    headers:
      X-Requested-With:
      - Qualys Ruby Client v0.1.3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE SIMPLE_RETURN SYSTEM "https://qualysapi.qualys.eu/api/2.0/simple_return.dtd">
        <SIMPLE_RETURN>
          <RESPONSE>
            <DATETIME>2017-12-11T16:56:34Z</DATETIME>
            <TEXT>Logged out</TEXT>
          </RESPONSE>
        </SIMPLE_RETURN>
  recorded_at: Mon, 11 Dec 2017 16:56:34 GMT
recorded_with: VCR 4.0.0
