---
http_interactions:
- request:
    method: get
    uri: https://qualysapi.qualys.eu/api/2.0/fo/scan/?action=list
    body:
      encoding: US-ASCII
      string: ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<!DOCTYPE SCAN_LIST_OUTPUT
        SYSTEM \"https://qualysapi.qualys.eu/api/2.0/fo/scan/scan_list_output.dtd\">\n<!--
        This report was generated with an evaluation version of Qualys //--> \n<SCAN_LIST_OUTPUT>\n
        \ <RESPONSE>\n    <DATETIME>2017-12-11T10:13:06Z</DATETIME>\n    <SCAN_LIST>\n
        \     <SCAN>\n        <REF>scan/1512633905.79357</REF>\n        <TYPE>On-Demand</TYPE>\n
        \       <TITLE><![CDATA[shellshock 20171207]]></TITLE>\n        <USER_LOGIN>thomas</USER_LOGIN>\n
        \       <LAUNCH_DATETIME>2017-12-07T08:05:05Z</LAUNCH_DATETIME>\n        <DURATION>00:01:43</DURATION>\n
        \       <PROCESSING_PRIORITY>0 - No Priority</PROCESSING_PRIORITY>\n        <PROCESSED>1</PROCESSED>\n
        \       <STATUS>\n          <STATE>Error</STATE>\n        </STATUS>\n        <TARGET><![CDATA[27.49.112.5]]></TARGET>\n
        \     </SCAN>\n      <SCAN>\n        <REF>scan/1512633883.79354</REF>\n        <TYPE>On-Demand</TYPE>\n
        \       <TITLE><![CDATA[shellshock 20171207]]></TITLE>\n        <USER_LOGIN>thomas</USER_LOGIN>\n
        \       <LAUNCH_DATETIME>2017-12-07T08:04:43Z</LAUNCH_DATETIME>\n        <DURATION>00:07:02</DURATION>\n
        \       <PROCESSING_PRIORITY>0 - No Priority</PROCESSING_PRIORITY>\n        <PROCESSED>1</PROCESSED>\n
        \       <STATUS[...]
