---
http_interactions:
- request:
    method: post
    uri: https://qualysapi.qualys.eu/api/2.0/fo/report/?action=launch&ips=47.69.112.62&output_format=xml&report_title=Generated_by_Ruby_Qualys_gem&report_type=Scan&template_id=91078695
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Requested-With:
      - Qualys Ruby Client v0.1.3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Window-Sec:
      - '3600'
      X-Concurrency-Limit-Limit:
      - '2'
      X-Concurrency-Limit-Running:
      - '0'
      X-Ratelimit-Towait-Sec:
      - '0'
      X-Ratelimit-Remaining:
      - '290'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE SIMPLE_RETURN SYSTEM "https://qualysapi.qualys.eu/api/2.0/simple_return.dtd">
        <SIMPLE_RETURN>
          <RESPONSE>
            <DATETIME>2017-12-18T13:17:56Z</DATETIME>
            <TEXT>New report launched</TEXT>
            <ITEM_LIST>
              <ITEM>
                <KEY>ID</KEY>
                <VALUE>4927942</VALUE>
              </ITEM>
            </ITEM_LIST>
          </RESPONSE>
        </SIMPLE_RETURN>
  recorded_at: Mon, 18 Dec 2017 13:17:56 GMT
recorded_with: VCR 4.0.0
