---
http_interactions:
- request:
    method: get
    uri: https://qualysapi.qualys.eu/msp/report_template_list.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - Qualys Ruby Client v0.1.3
      Authorization:
      - Basic c2NhLW5nMTpDMjhMaWNvdGh5
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Window-Sec:
      - '3600'
      X-Concurrency-Limit-Limit:
      - '2'
      X-Concurrency-Limit-Running:
      - '0'
      X-Ratelimit-Towait-Sec:
      - '0'
      X-Ratelimit-Remaining:
      - '298'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<!DOCTYPE REPORT_TEMPLATE_LIST
        SYSTEM \"https://qualysapi.qualys.eu/report_template_list.dtd\">\n<!-- This
        report was generated with an evaluation version of Qualys //--> \n<REPORT_TEMPLATE_LIST>\n
        \ <REPORT_TEMPLATE>\n    <ID>91078694</ID>\n    <TYPE>Auto</TYPE>\n    <TEMPLATE_TYPE>Scan</TEMPLATE_TYPE>\n
        \   <TITLE><![CDATA[Executive Report]]></TITLE>\n    <USER>\n      <LOGIN><![CDATA[Thomas]]></LOGIN>\n
        \     <FIRSTNAME><![CDATA[Thomas]]></FIRSTNAME>\n      <LASTNAME><![CDATA[Trust]]></LASTNAME>\n
        \   </USER>\n    <LAST_UPDATE>2017-11-23T15:01:57Z</LAST_UPDATE>\n    <GLOBAL>1</GLOBAL>\n
        \ </REPORT_TEMPLATE>\n  <REPORT_TEMPLATE>\n    <ID>91078695</ID>\n    <TYPE>Auto</TYPE>\n
        \   <TEMPLATE_TYPE>Scan</TEMPLATE_TYPE>\n    <TITLE><![CDATA[Technical Report]]></TITLE>\n
        \   <USER>\n      <LOGIN><![CDATA[Thomas]]></LOGIN>\n      <FIRSTNAME><![CDATA[Thomas]]></FIRSTNAME>\n
        \     <LASTNAME><![CDATA[Trust]]></LASTNAME>\n    </USER>\n    <LAST_UPDATE>2017-11-23T15:01:57Z</LAST_UPDATE>\n
        \   <GLOBAL>1</GLOBAL>\n  </REPORT_TEMPLATE>\n  <R[...]
