---
http_interactions:
- request:
    method: get
    uri: https://qualysapi.qualys.eu/api/2.0/fo/report/?action=fetch&id=4888480
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - Qualys Ruby Client v0.1.3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Window-Sec:
      - '3600'
      X-Concurrency-Limit-Limit:
      - '2'
      X-Concurrency-Limit-Running:
      - '0'
      X-Ratelimit-Towait-Sec:
      - '0'
      X-Ratelimit-Remaining:
      - '292'
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE SIMPLE_RETURN SYSTEM "https://qualysapi.qualys.eu/api/2.0/simple_return.dtd">
        <SIMPLE_RETURN>
          <RESPONSE>
            <DATETIME>2017-12-12T10:22:57Z</DATETIME>
            <CODE>7001</CODE>
            <TEXT>Report cannot be fetched.</TEXT>
          </RESPONSE>
        </SIMPLE_RETURN>
  recorded_at: Tue, 12 Dec 2017 10:22:57 GMT
recorded_with: VCR 4.0.0
