---
http_interactions:
- request:
    method: get
    uri: https://qualysapi.qualys.eu/api/2.0/fo/scan/?action=list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Requested-With:
      - Qualys Ruby Client v0.1.3
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE SIMPLE_RETURN SYSTEM "https://qualysapi.qualys.eu/api/2.0/simple_return.dtd">
        <SIMPLE_RETURN>
          <RESPONSE>
            <DATETIME>2017-12-11T12:54:07Z</DATETIME>
            <CODE>2000</CODE>
            <TEXT>Bad Login/Password</TEXT>
          </RESPONSE>
        </SIMPLE_RETURN>
  recorded_at: Mon, 11 Dec 2017 12:54:07 GMT
recorded_with: VCR 4.0.0
